body{
    background-color: aliceblue;
}

#contadorNum{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, Arial, sans-serif;
}

#botoesConteiner{
    text-align: center;
}

.botoes{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(15, 163, 163);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.botoes:hover{
    transform: scale(1.05);
    background-color: rgb(12, 124, 124);
}