body{
    background-color: aliceblue;
}

#container{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(15, 206, 206);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(14, 146, 146);;
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#imagens{
    margin: 25px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#imagens img{
    margin: 5px;
}